:root{
    --cor1: #000;
    --cor2: #415D43;
    --cor3: #8FB996;
    --cor4: #a2cda6;
    --cor5: #e2e2e2;
    --cor6: #fff;
    --corBack1: rgba(0, 0, 0, 0.425);
    --corBack2: rgba(65, 93, 67, 0.923);
    --corBack3: rgba(143, 185, 150, 0.867);
    --corBack4: rgba(161, 204, 165, 0.8);
    --corBack5: rgba(240, 240, 240, 0.467);
    --corBack6: rgba(255, 255, 255, 0.5);
}



